@import "tailwindcss";

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -20px) scale(1.05);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.95);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.blob-animate {
  animation: blob 7s infinite;
}
.blob-slow {
  animation: blob 14s infinite;
}
.blob-reverse {
  animation: blob-reverse 10s infinite;
}

@keyframes blob-reverse {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(-30px, 20px) scale(1.05);
  }
  66% {
    transform: translate(20px, -20px) scale(0.95);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}